.subtitles {
    font-style: italic;
    font-size: small;
}

.project_list {
    display: flex;
    justify-content: center;
}

.page-content {
    min-height: 50vh;
    margin: 0;
    padding: 3vh;
}