.subtitles {
    font-style: italic;
    font-size: small;
}

.project_list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
}

.page-content {
    min-height: 50vh;
    margin: 0;
    padding: 3vh;
}