form {
    display: inline-block;
    text-align: left;
    border: 3px dotted white;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background-color: black;
}

form input, form textarea {
    font-family: sans-serif;
    background-color: lightgray;
}

form button {
    font-size: large;
    font-weight: bold;
    background-color: grey;
    border: 3px dotted white;
    color: white;
}

form button:hover {
    background-color: lightgray;
}

form textarea:hover, form input:hover {
    background-color: white;
}