footer {
    text-align: left;
    font-size: small;
    border: 3px dotted white;
    border-radius: 5px;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-text {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 2.5px;
    padding: 5px;
}
