header {
    text-align: center;
    border: 3px dotted white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 10px;
}

.title {
    text-decoration: none;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 0;
    width: 300px;
    height: 50px;
    font-size: xx-large;
    font-weight: bold;
}

.pfp {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 3px dotted white;
    margin-right: 10px;
}

.header-links {
    display: flex;
    gap: 15px;
}

.header-links a {
    color: white;
}

.header-links a:hover {
    text-decoration: underline;
}