nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.nav-link {
    text-decoration: none;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 0;
    width: 150px;
    height: 25px;
    font-size: large;
    font-weight: bold;
}

.nav-link:hover {
    background-color: lightgray;
    opacity: 0.5;
}