.project_card {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 3px dotted white;
    border-radius: 5px;
    padding: 25px;
    margin: 25px;
    max-width: 300px;
}

.project_card h3 {
    margin-top: 0;
}

.project_card p {
    flex-grow: 1;
}

.project_card a {
    color: white;
    font-weight: bold;
    margin-top: auto;
    text-decoration: none;
}

.project_card a:hover {
    text-decoration: underline;
}